{% extends "network/layout.html" %}

{% block body %}

{% if user.is_authenticated %}
<div class="post-add-container">
    <form action="{% url 'addPost' %}" method="POST">
        {% csrf_token %}
        <h3>New Post</h3>
        Title: <input name="title"></input>
        <br>
        <br>
        <textarea class="form-control rounded-0" name="postText" rows="5"></textarea>
       
        <br>
        <input type="submit" value="Post" class="btn btn-primary mb-2">
    </form>
</div>
{% endif %}
    
{% endblock %}