{% extends "network/layout.html" %}
{% load static %}

{% block new_post %}

<!-- add new post section -->
{% if user.is_authenticated %}
<div class="post-add-container">
    <form action="{% url 'addPost' %}" method="POST">
        {% csrf_token %}
        <h3>Create a New Post</h3>
        <hr>
        <h5>Title: </h5> <input name="title"></input>
        <br>
        <br>
        <textarea class="form-control rounded-0" name="postText" rows="5"></textarea>
       
        <br>
        <input type="submit" value="Post" class="btn btn-primary mb-2">
    </form>
</div>
{% endif %}

<div class="network-post"></div>
<script>
function get_posts(){
    document.querySelector('.network-post').innerHTML = '';

    fetch('/all_posts')
      .then(response => response.json())
      .then(data => {
        console.log(data)
        data.forEach(obj => {
            document.querySelector('.network-post').innerHTML += `
            <div class="post">
                <h3>${obj.title}</h3>
                <hr>
                
                <h5>${obj.text}</h5>
                <br>
                <div class="get-user" onclick = "get_profile(${obj.author_id})">
                    <h5 style="font-size: 15px;">Created by: ${obj.author}</h5>
                </div>
                <div class="date">
                    Date of creation: <br>
                    ${obj.creation_date}
                </div> 
                <div class="likes">
                    likes: ${obj.likes}
                </div>
            </div>
            `;
      });
    });
}
get_posts();
</script>
{% endblock %}