{% extends "network/layout.html" %}

{% block body %}
{% for post in page_obj %}
<div class="post">
    <h3>{{post.title}}</h3>
    <hr>
    
    <h5>{{post.text}}</h5>
    <br>
    <div class="get-user">
        <h5 style="font-size: 15px;">Created by: <a href="{% url 'user' %}">{{post.author}}</a></h5>
    </div>
    <div class="date">
        Date of creation: <br>
        {{post.creation_date}}
    </div> 
    <div class="likes">
        likes: {{post.likes}}
    </div>
</div>
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}