{% extends "network/layout.html" %}
{% load static %}

{% block body %}

<div class="profile-container">
    <div class="row" style="text-align: center;">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">{{user.username}}</div>
        <div class="col-sm-2"></div>
      </div>
      <div class="row" style="text-align: center;">
        <div class="col-sm">Followers</div>
        <div class="col-sm"></div>
        <div class="col-sm">Following</div>
      </div>
      <div class="row" style="text-align: center;">
        <div class="col-sm">{{user.followers}}</div>
        {% if user.is_authenticated %}
            <div class="col-sm"><button type="button" id="button" class="btn btn-primary">Follow</button></div>
        {% endif %}
        <div class="col-sm">{{user.following}}</div>
      </div>
</div>

<!-- posts section -->
<div class="posts-container">
    <h2>Posts</h2>

    {% for post in posts_list %}
        
        <div class="post">

            <h3>{{post.title}}</h3>
            <hr>
            
            <h5>{{post.text}}</h5>
            <br>
            <h5 style="font-size: 15px;">Created by: {{post.author}}</h5>
            
            <div class="date">
                Date of creation: <br>
                {{post.creation_date}}
            </div> 
            <div class="likes">
                likes: {{post.likes}}
            </div>
            
        </div>
            
    {% endfor %}
</div>
    
{% endblock %}