.post-add-container{
    height: 400px;
    width: 50%;
    padding: 20px;
    margin: 20px;
    background-color: #f3f3f3;
    border: 1px solid rgb(221, 218, 218);
}
.posts-container{
    padding: 20px;
    margin: 20px;
}
.post{
    height: 20%;
    width: 30%;
    background-color: #f3f3f3;
    border: 1px solid rgb(221, 218, 218);
    padding: 20px;
    margin: 20px;
}
.date{
    font-size: 10px; 
    color: gray;
}
.likes{
    float: right;
}

/* PROFILE CSS */
.profile-container{
    height: 20%;
    width: 30%;
    padding: 40px;
    margin: 20px;
    border: 1px solid rgb(221, 218, 218);
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.grid{
  display: grid;
  grid-template-columns: repeat(3,100px);  /* 3 columns */
  grid-template-rows: repeat(2,30px); /* 2 rows  */
  grid-gap:10px 10px; /* 50 pixels of space added between rows and 30 pixels added between columns  */
  padding-left: 37px;
  padding-bottom: 20px;
}
.grid-item{
  /* border:thin gray solid; */
  padding:5px;
}